html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: fixed;
}

/* gnb */
.gnb {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1000;
    display: none;
    font-family: 'Pretendard', sans-serif;
}

.gnb ul {
    display: flex;
    gap: 20px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.gnb li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.gnb li a:hover {
    color: #00c896;
}

/* box 애니메이션 */
.fade-out {
    opacity: 0;
    transition: opacity 9s ease-out;
}

.main_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    border: none;
    background-color: #FFFFFF;
}

.main_box .box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 160px;
    height: 160px;
    background-color: #00c896;
    border: none;
    transform: translate(-50%, -50%) rotate(45deg);
    transform-origin: center center;
    box-sizing: border-box;
    will-change: transform, width, height;
    animation: boxExpand 3s ease-in-out forwards, fadeOut 3s ease-out 5s forwards;
}

@keyframes boxExpand {
    0% {
        width: 160px;
        height: 160px;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    5% {
        width: 300px;
        height: 300px;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    10% {
        width: 564px;
        height: 600px;
        transform: translate(-50%, -50%) rotate(0deg);
    }

    /* 40%, 50% {
        width: 564px;
        height: 600px;
        transform: translate(-50%, -50%) rotate(0deg);  
    } */

    60%,
    65% {
        width: 564px;
        height: 450px;
        transform: translate(-50%, -50%) rotate(0deg);
        background-color: #FFFFFF;
        border: 2px solid #DEDEDE;
    }

    70% {
        width: 564px;
        height: 120px;
        border: none;
        transform: translate(-50%, -50%) rotate(0deg);
        background-color: #FFFFFF;
        border: 2px solid #DEDEDE;
    }

    80% {
        width: 200px;
        height: 120px;
        border: none;
        transform: translate(-50%, -50%) rotate(0deg);
        background-color: #FFFFFF;
        border: 2px solid #DEDEDE;
    }

    100% {
        width: 200px;
        height: 120px;
        transform: translate(-50%, -50%) rotate(0deg);
        border: none;
        background-color: #FFFFFF;
    }
}

/* 꼭지점에서 나오는 라인들 */
.main_box .line {
    position: absolute;
    background-color: #00c896;
    opacity: 0;
}

.main_box .line.top-left,
.main_box .line.top-right,
.main_box .line.bottom-left,
.main_box .line.bottom-right {
    width: 0;
    height: 1px;
}

/* 개별 라인 위치 설정 */
.main_box .line.top-left {
    top: 0;
    left: 0;
    transform: rotate(180deg);
    transform-origin: left;
    animation: drawLine 3.5s ease 0.3s forwards;
}

.main_box .line.top-right {
    top: 0;
    right: 0;
    transform: rotate(90deg);
    transform-origin: right;
    animation: drawLine 3.5s ease 0.3s forwards;
}

.main_box .line.bottom-left {
    bottom: 0;
    left: 0;
    transform: rotate(-270deg);
    transform-origin: left;
    animation: drawLine 3.5s ease 0.3s forwards;
}

.main_box .line.bottom-right {
    bottom: 0;
    right: 0;
    transform: rotate(-180deg);
    transform-origin: right;
    animation: drawLine 3.5s ease 0.3s forwards;
}

/* 라인 애니메이션 */
@keyframes drawLine {
    0% {
        width: 0;
        opacity: 1;
    }

    60% {
        width: 100vw;
        opacity: 1;
    }

    100% {
        width: 0;
        opacity: 1;
    }
}

/* 꼭지점 */
.main_box .corner {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #00c896;
    transform: scale(0) rotate(45deg);
    opacity: 0;
    animation: showCorner 3s ease 0.7s forwards;
}

/* 꼭지점 위치 */
.main_box .corner.top-left {
    top: -7px;
    left: -7px;
}

.main_box .corner.top-right {
    top: -7px;
    right: -7px;
}

.main_box .corner.bottom-left {
    bottom: -7px;
    left: -7px;
}

.main_box .corner.bottom-right {
    bottom: -7px;
    right: -7px;
}

@keyframes showCorner {
    0% {
        opacity: 0;
        transform: scale(0) rotate(45deg);
    }

    40% {
        opacity: 1;
        transform: scale(1) rotate(45deg);
    }
}

/* 텍스트 */
.main_box .text-content {
    position: relative;
    top: 35%;
    left: 60%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: left;
    font-size: 56px;
    color: black;
    opacity: 0;
    transition: opacity 1s ease;
}

/* 박스가 중간 크기가 될 때 텍스트가 나타남 */
.main_box .box.mid-size .text-content {
    opacity: 1;
}

.box_text1 {
    font-size: 42px;
    font-weight: 800;
    margin-top: 20px;
}

@media only screen and (max-width: 1100px) {
    .main_box .box {
        width: 80px;
        height: 80px;
        animation: boxExpand 3s ease-in-out forwards, fadeOut 3s ease-out 4s forwards;

    }

    @keyframes boxExpand {
        0% {
            width: 80px;
            height: 80px;
            border: none;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        5% {
            width: 200px;
            height: 200px;
            border: none;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        15% {
            width: 374px;
            height: 450px;
            border: none;
            transform: translate(-50%, -50%) rotate(0deg);
        }

        60% {
            width: 374px;
            height: 450px;
            border: none;
            transform: translate(-50%, -50%) rotate(0deg);
        }

        80% {
            width: 374px;
            height: 300px;
            transform: translate(-50%, -50%) rotate(0deg);
            background-color: #FFFFFF;
            border: none;
            border: 2px solid #DEDEDE;
        }

        90% {
            width: 374px;
            height: 120px;
            transform: translate(-50%, -50%) rotate(0deg);
            background-color: #FFFFFF;
            border: none;
            border: 2px solid #DEDEDE;
        }

        95% {
            width: 200px;
            height: 120px;
            transform: translate(-50%, -50%) rotate(0deg);
            background-color: #FFFFFF;
            border: none;
            border: 2px solid #DEDEDE;
        }

        100% {
            width: 200px;
            height: 120px;
            transform: translate(-50%, -50%) rotate(0deg);
            border: none;
            background-color: #FFFFFF;
        }
    }

    /* 꼭지점 */
    .main_box .corner {
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #00c896;
        transform: scale(0) rotate(45deg);
        opacity: 0;
        animation: showCorner 4s ease 1.5s forwards;
    }

    /* 꼭지점 위치 */
    .main_box .corner.top-left {
        top: -5px;
        left: -5px;
    }

    .main_box .corner.top-right {
        top: -5px;
        right: -5px;
    }

    .main_box .corner.bottom-left {
        bottom: -5px;
        left: -5px;
    }

    .main_box .corner.bottom-right {
        bottom: -5px;
        right: -5px;
    }

    /* 텍스트 */
    .main_box .text-content {
        position: relative;
        top: 35%;
        left: 60%;
        width: 100%;
        transform: translate(-50%, -50%);
        text-align: left;
        font-size: 56px;
        color: black;
        opacity: 0;
        transition: opacity 2s ease;
    }

    /* 박스가 중간 크기가 될 때 텍스트가 나타남 */
    .main_box .box.mid-size .text-content {
        opacity: 1;
    }

    .main_box .box_text1 {
        font-size: 16px;
        font-weight: 400;
        margin-top: 20px;
    }

    .main_box .box_text2 {
        font-size: 30px;
        font-weight: 900;
    }

}

@media only screen and (max-width: 860px) {
    .main_box .box {
        width: 80px;
        height: 80px;
    }

    @keyframes boxExpand {
        0% {
            width: 80px;
            height: 80px;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        5% {
            width: 150px;
            height: 150px;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        15% {
            width: 200px;
            height: 350px;
            transform: translate(-50%, -50%) rotate(0deg);
        }

        60% {
            width: 200px;
            height: 350px;
            transform: translate(-50%, -50%) rotate(0deg);
        }

        80% {
            width: 200px;
            height: 230px;
            transform: translate(-50%, -50%) rotate(0deg);
            border: 2px solid #DEDEDE;
        }

        90% {
            width: 200px;
            height: 100px;
            transform: translate(-50%, -50%) rotate(0deg);
            border: 2px solid #DEDEDE;
        }

        95% {
            width: 200px;
            height: 80px;
            transform: translate(-50%, -50%) rotate(0deg);
            border: 2px solid #DEDEDE;
        }

        100% {
            width: 200px;
            height: 80px;
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }

    /* 꼭지점 */
    .main_box .corner {
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: #0086cc;
        transform: scale(0) rotate(45deg);
        opacity: 0;
        animation: showCorner 3s ease 1s forwards;
    }

    /* 텍스트 */
    /* 박스가 중간 크기가 될 때 텍스트가 나타남 */
    .main_box .box.mid-size .text-content {
        opacity: 1;
    }

    .main_box .box_text1 {
        font-size: 2rem;
        font-weight: 400;
        margin-top: 20px;
    }

    .main_box .box_text2 {
        font-size: 22px;
        font-weight: 900;
    }

}

/* 스와이퍼 */
.swiper {height: 100vh;}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 4rem 2rem;
    box-sizing: border-box;
    color: #111;
}

/* intro */
.intro {
    background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-inner {
  text-align: center;
  animation: fadeIn 1s ease-out forwards;
}

.main-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.main-title > p{
    font-size: 1.6rem;
}

.typing {
  width: auto;
  height: auto;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #00c896;
}

.typing.active {
  animation: typing 2.2s steps(20), blink 1.2s step-end infinite;
  width: auto;
  display: auto;
}

@keyframes typing {
  from { width: 0 }
  to { width: 13ch }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.name {
  color: #00c896;
}

.intro-sub {
  font-size: 1.2rem;
  text-align: center;
  color: #444;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.intro-sub.active {
  opacity: 1;
  transform: translateY(0);
}

.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
  margin-top: 3.2rem;
  transition: opacity 0.6s ease, transform 0.6s ease;
  animation: fadeInUp 1s ease forwards;
  animation-delay: 3.2s;
}

.tech-tags.active,
.scroll-down.active {
  opacity: 1;
  transform: translateY(0);
}

.mouse {
  width: 24px;
  height: 40px;
  border: 2px solid #000;
  border-radius: 12px;
  margin-top: 8px;
  position: relative;
}

.wheel {
  width: 4px;
  height: 8px;
  background: #000;
  border-radius: 2px;
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  animation: wheelMove 1.5s infinite;
}

/* 애니메이션 */
@keyframes slideFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(8px); }
}

@keyframes wheelMove {
  0% { top: 6px; opacity: 1; }
  50% { top: 16px; opacity: 0; }
  100% { top: 6px; opacity: 1; }
}

/* about */
.about {
  background: #ffffff;
  color: #222; 
  padding: 4rem 2rem;
}

.section-title {
  font-size: 2.2rem;
  color: #00483f; 
  text-align: center;
  margin-right: 4.5rem;
  margin-bottom: 2.5rem;
  font-weight: 700;
}

.highlight {
  color: #008e76;
  font-weight: 600;
}

.about-text h3 {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.about-text p {
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}

.about-text .strong {
  font-weight: 700;
  color: #111;
  margin-top: 2rem;
  font-size: 1.05rem;
  border-left: 4px solid #008e76;
  padding-left: 1rem;
}

/* projects */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
  background: #f0f4f8;
}

/* 내부 swiper */
.inner-project-swiper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 2rem;
}

/* project slide card */
.project-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: auto;
}

.card-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.card-content {
  padding: 1.2rem;
}

.project-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.project-period {
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 0.8rem;
}

.project-desc {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.project-stack {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tags span {
  background-color: #e4f9f3;
  color: #00a886;
  padding: 4px 10px;
  font-size: 0.8rem;
  border-radius: 999px;
}

/* process */
.process {background: #ffffff;}

/* contact */
.contact {background: #fefefe;}